Repository Breakthrough-Energy/PreREISE, pull requests merged in 2021-09, with the labels that each got.

#215 Package related cleanup
  .github/workflows/coverage.yml
  .github/workflows/packages.yml
  .github/workflows/test.yml
  Pipfile
  Pipfile.lock
  requirements.txt
  setup.cfg
  setup.py
Labels: dependencies

#216 feat: add functions to connect islands with minimum cost in topology module
  prereise/gather/griddata/hifld/const.py
  prereise/gather/griddata/hifld/data_process/tests/test_topology.py
  prereise/gather/griddata/hifld/data_process/topology.py
Labels: hifld

#218 feat: add function to create transformers within substations
  prereise/gather/griddata/hifld/data_process/tests/test_transmission.py
  prereise/gather/griddata/hifld/data_process/transmission.py
Labels: hifld

#223 refactor: switch (lon, lat) points to (lat, lon)
  prereise/gather/griddata/hifld/data_access/load.py
Labels: hifld

#224 refactor: change transmission processing code to expect (lat, lon) instead of (lon, lat)
  prereise/gather/griddata/hifld/data_process/transmission.py
Labels: bug

#217 feat: add transmission to substation track selection
  prereise/gather/griddata/hifld/data_process/transmission.py
Labels: hifld
